$bg-color-ffffff: #ffffff;
$bg-color-f6F7f8: #f6F7f8;

$color-705aaa: #705AAA;
$color-cbc8d4: #CBC8D4;
$activestate_bg_2: #D8FCF7;
$activestate_bg_1: #01F0D0;
$color-0bd984: #0BD984;
$color-072635: #072635;
$color-0c3d5d: #0C3D5D;
$color-084c77: #084C77;
$color-055a92: #055A92;
$color-006aac: #006AAC;
$color-007bc7: #007BC7;
$color-707070: #707070;
$color-f6f6f6: #F6F6F6;
$color-ededed: #EDEDED;
$color-000000: #000000;
$color-878787: #878787;
$color-ffffff: #FFFFFF;
$color-ff6200: #FF6200;
$color-e0f3fa: #E0F3FA;
$color-f4f0fe: #F4F0FE;
$color-ffe6e9: #FFE6E9;


$font-family-manrope: "Manrope", sans-serif;
$font-style-normal: normal;
$font-weight-800: 800px;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-size-14: 14px;
$font-size-18: 18px;
$font-size-24: 24px;
$character-spacing-0: 0px;
$line-spacing-19: 19px;
$line-spacing-24: 24px;
$line-spacing-33: 33px;
$text-transform-titlecase: titlecase;



::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track{
 background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
  background-color: $color-072635;
}